@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
body{
    font-size: 24px;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    cursor: url('../img/cursor.png'), default;
    background-size: cover;
}
.wrapper{
    width: 1300px;
    margin: 0 auto; 
}
.header{
    font-size: 23px;
    margin-top: 40px;
    text-align: center;
}
.logo{
width: 50%;
}
.nav-link{
    text-decoration: none;
    margin-left: 29px;
    color: white;
    font-family: 'Rubik Mono One';
}
.nav-link:hover{
    color:#5a0212 ;
}
h2{
    padding-top: 20px;
    text-align: center;
}
.text-p{
    padding: 20px;
    text-align: justify;
}
footer{
    text-align: center;
    color: white;
}
.history-wrapper{
    height: 450px;
    opacity: 0.8;
    border-radius: 10px;
    background-color: white;
    margin-top: 80px;
    display: flex;
}
